<!-- DONT USE PRETTIER OR ANY OTHER FORMATTER ON HEADER AND FOOTER BECAUSE IT WILL AUTOCOMPLETE TAGS. -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CryptoDash</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Rubik:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="img/icons/008-bitcoin.svg" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  </head>
  <body>
    <div class="outer-container">
      <div class="main-container">
        <div class="sidebar disable-scrollbars">
          <div class="clock">
            <p class="date-day"><%= dayStringEjs %> ,<%= currentDateEjs %></p>
            <h1 class="time time-header">
              <span><%= currentHourEjs %>:<%= currentMinuteEjs %></span><sup class="clock-sup">UTC</sup>
            </h1>
            <p>A Crypotocurrency Dashboard</p>
          </div>
          <div class="scrollit">

          <ul class="sidebar-list">
            <% for(let i=0;i<5;i++){ %> 
            <li>
              <a href="/currencies/<%= currencyData[i].name %>"><%= currencyData[i].symbol %> </a>
              <p>$<%= currencyData[i].price.toString().slice(0,6) %></p>
            </li>
          <% } %> 
           
          </ul>
          </div>
       </div>
